<title>{{ site.name }}</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&family=Baloo+2:wght@600;700;800&family=IBM+Plex+Mono:wght@400;600;700&display=swap">
<link rel="stylesheet" href="assets/css/site.css">
{{ content | safe }}
<script>window.SITE_LINKS = {{ site.links | dump | safe }};</script>
<script src="assets/js/site.js"></script>
